<div id="<%= dom_id day_habit %>">
  <div>
    <strong>Habit:</strong>
    <%= day_habit.habit.title%>
  </div>

  <div>
    <strong>Date:</strong>
    <%= day_habit.date %>
  </div>

  <div>
    <strong>Rating:</strong>
    <%= day_habit.rating %>
  </div>

  <%= day_habit.habit.title%>

</div>

