
<div class="container-fluid body-container">
  <div class="row flex-nowrap min-vh-100">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 py-5 side-bar">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-0 pt-0 text-black border-sidebar">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start full-width"
          id="menu">
          <li class="nav-item nav-design-data">

            <%= link_to "#timers", data: { bs_toggle: "tab" }, class: "nav-link active px-2 align-middle" do %>
              <i class="material-symbols-outlined">mountain_flag</i>
              <span class="ms-1 d-none d-sm-inline">Timer</span>
            <% end %>

          </li>
          <li class="nav-item nav-design">
            <%= link_to "#best", data: { bs_toggle: "tab" }, class: "nav-link px-2 align-middle" do %>
              <i class="material-symbols-outlined">mountain_flag</i>
              <span class="ms-1 d-none d-sm-inline">Did I do my best to</span>
            <% end %>

          </li>
          <li class="nav-item nav-design">
            <a href="#activity" data-bs-toggle="tab" class="nav-link px-2 align-middle">
              <i class="material-symbols-outlined">monitoring</i>
              <span class="ms-1 d-none d-sm-inline">  Analysis</span></a>
          </li>
        </ul>
        <hr>
      </div>
    </div>
    <div class="col py-3">
      <div class="container">
        <div class="tab-content">
          <!-- Timers MENU  -->
          <div id="timers" class="tab-pane fade show active">
            <%= render "dashboard/timers" %>
          </div>
          <div id="best" class="tab-pane fade">
            <%= render "dashboard/best_to" %>
          </div>
          <div id="activity" class="tab-pane fade">
            <%= render "dashboard/activities" %>
          </div>
      </div>
    </div>
  </div>
</div>

