<h1>Edit Transaction</h1>
<hr>

<div>
  <%= form_with model: @entry, url: balance_entry_path(@entry), method: :patch, local: true do |f| %>
    
    <div>
      <%= f.label :description, style: "display: block;" %>
      <%= f.text_field :description %>
    </div>

    <div>
      <%= f.label :amount, style: "display: block;" %>
      <%= f.number_field :amount, step: 0.01 %>
    </div>

    <div>
      <%= f.label :date, style: "display: block;" %>
      <%= f.date_field :date %>
    </div>

    <div>
      <%= f.label :source_or_category, "Category / Source", style: "display: block;" %>
      <% if @entry.entry_type == 'income' %>
        <%= f.select :source_or_category, ['National', 'Foreign'] %>
      <% else %>
        <%= f.select :source_or_category, ['Supplies', 'Services', 'Other'] %>
      <% end %>
    </div>

    <%= f.submit "Update Transaction" %>
    <%= link_to "Cancel", balance_path, style: "margin-left: 10px;" %>
    
  <% end %>
</div>
