<p style="color: green"><%= notice %></p>
<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class=" vast-header mt-2" >Balance</h1>
  <button id="privacyBtn" onclick="togglePrivacy()" class="btn bg-table-active btn-sm">Show Data</button>
</div>
<br/>
<div class="row mb-4">
  <div class="col-md-2">
    <div class="card p-2 border-0 shadow-sm">
      <small class="text-normal">Month Income</small>
      <h3 class="text-income"><span class="sensitive-data"> <%= number_to_currency(@total_income) %></span></h3>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card p-2 border-0 shadow-sm">
      <small class="text-normal">Month Expenses</small>
      <h3 class="text-outcome"><span class="sensitive-data"> <%= number_to_currency(@total_outcome) %></span></h3>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card p-2 border-0 shadow-sm">
      <small class="text-normal">Month Balance</small>
      <h3 class="text-active"><span class="sensitive-data"> <%= number_to_currency(@current_balance) %></span></h3>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card p-2 border-0 shadow-sm">
      <small class="font-normal">Year Income</small>
      <h3 class="text-income"><span class="sensitive-data"> <%= number_to_currency(@yearly_total_income) %></span></h3>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card p-2 border-0 shadow-sm">
      <small class="font-normal">Year Outcome</small>
      <h3 class="text-outcome"><span class="sensitive-data"> <%= number_to_currency(@yearly_total_outcome) %></span></h3>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card p-2 border-0 shadow-sm">
      <small class="text-normal">Year Balance</small>
      <h3 class="text-active"><span class="sensitive-data"> <%= number_to_currency(@yearly_balance) %></span></h3>
    </div>
  </div>

</div>

<div class="row mb-4">
  <div class="col-md-6">
    <div class="card p-4 shadow-sm border-0">
      <h5 class="mb-3 text-normal"><i class="bi bi-plus-circle-fill text-income"></i> Add Income</h5>
      <%= form_with model: @new_entry, url: create_entry_path, local: true, class: "row g-2" do |f| %>
        <%= f.hidden_field :entry_type, value: 'income' %>
        <div class="col-12"><%= f.text_field :description, class: "form-control", placeholder: "Description" %></div>
        <div class="col-6"><%= f.number_field :amount, class: "form-control", placeholder: "$" %></div>
        <div class="col-6">
          <%= f.select :source_or_category, 
            ['National', 'Foreign'], 
            { prompt: "Origin", selected: 'Foreign' }, 
            { class: "form-select" } 
          %>
        </div>
        <div class="col-12">
          <%= f.date_field :date, 
            class: "form-control", 
            value: f.object.date || Date.current.strftime('%Y-%m-%d') %>
        </div>
        <div class="col-12"><%= f.submit "Add Income", class: "btn income-btn  w-100" %></div>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card p-4 shadow-sm border-0">
      <h5 class="mb-3 text-normal"><i class="bi bi-dash-circle-fill text-outcome"></i> Add Expense</h5>
      <%= form_with model: @new_entry, url: create_entry_path, local: true, class: "row g-2" do |f| %>
        <%= f.hidden_field :entry_type, value: 'outcome' %>
        <div class="col-12"><%= f.text_field :description, class: "form-control", placeholder: "Description" %></div>
        <div class="col-6"><%= f.number_field :amount, class: "form-control", placeholder: "$" %></div>
        <div class="col-6">
          <%= f.select :source_or_category, 
            ['Amazon_Food','Food','Necessary', 'Side_Project_Build', 'Side_Project_Tech', 'Study', 'Transportation', 'Other'], 
            {prompt: "Category", selected: 'Food'},
            {class: "form-select"} %>
        </div>
        <div class="col-12">
          <%= f.date_field :date, 
            class: "form-control", 
            value: f.object.date || Date.current.strftime('%Y-%m-%d') %>
        </div>
        <div class="col-12"><%= f.submit "Add Expense", class: "btn outcome-btn w-100" %></div>
      <% end %>
    </div>
  </div>
</div>

<div class="card shadow-sm border-0 mb-4">
  <div class="card-body">
    <h5 class="mb-3 text-normal">Declaration Tax Month (<%= @previous_month_date.strftime("%B") %>)</h5>
    <div class="table-responsive">
      <table class="table table-hover table-sm mb-0 theme-table">
        <thead>
          <tr>
            <th class="col-md-6">Description</th>
            <th class="col-md-3">Date</th>
            <th class="col-md-3">Balance</th>
          </tr>
        </thead>
        <tbody>
          <% @previous_month_incomes.each do |income| %>
            <tr>
              <td><%= income.description %></td>
              <td class="text-normal"><%= income.date.strftime("%d/%m/%Y") %></td>
              <td class="text-income fw-bold">+ <span class="sensitive-data"><%= number_to_currency(income.amount) %></span></td>
            </tr>
            <tr>
              <td class="text-normal ps-4">
                ISR (<%= (income.calculate_isr_percentage * 100).round(2) %>%)
              </td>
              <td></td>
              <td class="text-outcome">
                - <span class="sensitive-data"><%= number_to_currency(income.isr_amount) %></span>
              </td>
            </tr>


            <% if income.source_or_category.to_s.downcase != 'foreign' %>
              <tr>
                <td class="text-muted ps-4">IVA (16% for national)</td>
                <td></td>
                <td class="text-outcome">- <span class="sensitive-data">$<%= '%.2f' % (income.amount * 0.16) %></span></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="card shadow-sm border-0 mb-4">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="text-normal">Transactions (<%= @target_date.strftime("%B %Y") %>)</h5>
      <% if params[:month].present? %>
        <%= link_to "← Back", balance_path, class: "btn btn-sm table-link" %>
      <% end %>
    </div>
    <div class="table-responsive">
      <table class="table table-hover theme-table">
        <tr>
          <th>Description</th>
          <th>Date</th>
          <th>Income</th>
          <th>Outcome</th>
        </tr>
        <% @entries.each do |entry| %>
          <tr>
            <td>
              <%= link_to entry.description, edit_balance_entry_path(entry), class: "table-link"%>
            </td>
            <td class="text-normal"><%= entry.date.strftime("%d/%m/%Y") %></td>
            <% if entry.entry_type == 'income' %>
              <td class="text-income">+ <span class="sensitive-data"><%= number_to_currency(entry.amount) %></span></td>
              <td></td>
            <% else %>
              <td></td>
              <td class="text-outcome">- <span class="sensitive-data"><%= number_to_currency(entry.amount) %></span></td>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <td colspan="2" class="fw-bold">Total Balance</td>
          <td colspan="1" class="text-income"><span class="sensitive-data fw-bold"><%= number_to_currency(@total_income) %></span></td>
          <td colspan="1" class="text-outcome"><span class="sensitive-data fw-bold"><%= number_to_currency(@total_outcome) %></span></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="card shadow-sm border-0 mb-4">
  <div class="card-body">
    <h5 class="mb-3 text-normal">Year (<%= Time.current.year %>)</h5>
    <div class="table-responsive">
      <table class="table table-sm table-hover theme-table">
        <tr>
          <th>Month</th>
          <th>Income</th>
          <th>Outcome</th>
        </tr>

        <% @monthly_data.each do |month_num, data| %>
          <% if month_num <= Time.current.month %>
            <tr>
              <td><%= link_to data[:name], balance_path(year: Time.current.year, month: month_num), class: "table-link"%></td>
              <td class="text-income">
                + <span class="sensitive-data"><%= number_to_currency(data[:income]) %></span>
              </td>
              <td class="text-outcome">
                - <span class="sensitive-data"><%= number_to_currency(data[:outcome]) %></span>
              </td>
            </tr>
          <% end %>
        <% end %>

        <tr>
          <td class="fw-bold">Balance</td>
          <td class="text-income">
            + <span class="sensitive-data fw-bold"><%= number_to_currency(@yearly_total_income) %></span>
          </td>
          <td class="text-outcome">
            - <span class="sensitive-data fw-bold"><%= number_to_currency(@yearly_total_outcome) %></span>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>

<br>

<script>
  function togglePrivacy() {
    const dataElements = document.querySelectorAll('.sensitive-data');
    const btn = document.getElementById('privacyBtn');
    dataElements.forEach(element => {
      element.classList.toggle('show-data');
    });
    if (btn.innerText === "Show Data") {
      btn.innerText = "Hide Data";
    } else {
      btn.innerText = "Show Data";
    }
  }
</script>
