<h1>My Balance Dashboard</h1>
<button id="privacyBtn" onclick="togglePrivacy()" >
  Show Data
</button>
<hr>
<div>
  <div>
    <h3>Add Income</h3>
    <%= form_with model: @new_entry, url: create_entry_path, local: true do |f| %>
      <%= f.hidden_field :entry_type, value: 'income' %>
      <%= f.text_field :description, placeholder: "Income description" %>
      <%= f.number_field :amount, step: 0.01, placeholder: "$" %>
      <%= f.select :source_or_category, ['National', 'Foreign'], prompt: "Select origin" %>
      <%= f.date_field :date %>
      <%= f.submit "Add Income" %>
    <% end %>
  </div>

  <div>
    <h3>Add Outcome</h3>
    <%= form_with model: @new_entry, url: create_entry_path, local: true do |f| %>
      <%= f.hidden_field :entry_type, value: 'outcome' %>
      <%= f.text_field :description, placeholder: "Outcome description" %>
      <%= f.number_field :amount, step: 0.01, placeholder: "$" %>
      <%= f.select :source_or_category, ['Amazon_Food','Food','Necessary', 'Side_Project_Build', 'Side_Project_Tech', 'Study','Transportation',  'Other'], prompt: "Select category" %>
      <%= f.date_field :date %>
      <%= f.submit "Add Outcome" %>
    <% end %>
  </div>
</div>

<h3>Declaration Tax Month (<%= @previous_month_date.strftime("%B") %>)</h3>

<table class="table theme-table table-sm">
  <tr>
    <th>Description</th>
    <th>Date</th>
    <th>Balance</th>
  </tr>

  <% @previous_month_incomes.each do |income| %>
    <tr>
      <td><%= income.description %></td>
      <td><%= income.date.strftime("%d/%m/%Y") %></td>
      <td class="text-income">+ <span class="sensitive-data"> <%= number_to_currency(income.amount) %> </span></td>
    </tr>

    <% isr = income.amount * 0.01 %>
    <tr>
      <td>ISR (1%)</td>
      <td></td>
      <td class="text-outcome">- <span class="sensitive-data">$<%= '%.2f' % isr %></span></td>
    </tr>

    <% if income.source_or_category.to_s.downcase == 'foreign' %>
      <tr>
        <td>IVA (0% for foreign)</td>
        <td></td>
        <td>- $0.00</td>
      </tr>
    <% else %>
      <% iva = income.amount * 0.16 %>
      <tr>
        <td>IVA (16% for national)</td>
        <td></td>
        <td class="text-outcome">- <span class="sensitive-data">$<%= '%.2f' % iva %></span></td>
      </tr>
    <% end %>
  <% end %>
  
  <% if @previous_month_incomes.empty? %>
    <tr>
      <td colspan="3">No incomes recorded for <%= @previous_month_date.strftime("%B") %>.</td>
    </tr>
  <% end %>
</table>
<hr>
<h3>Transactions (<%= @target_date.strftime("%B %Y") %>)</h3>
<% if params[:month].present? %>
  <%= link_to "← Back to Current Month", balance_path%>
<% end %>
<table class="table table-sm theme-table">
  <tr>
    <th>Description</th>
    <th>Date</th>
    <th>Income</th>
    <th>Outcome</th>
  </tr>
  <% @entries.each do |entry| %>
    <tr>
      <td>
        <%= link_to entry.description, edit_balance_entry_path(entry)%>
      </td>
      <td><%= entry.date.strftime("%d/%m/%Y") %></td>
      <% if entry.entry_type == 'income' %>
        <td class="text-income">+ <span class="sensitive-data"><%= number_to_currency(entry.amount) %></span></td>
        <td></td>
      <% else %>
        <td></td>
        <td class="text-outcome">- <span class="sensitive-data"><%= number_to_currency(entry.amount) %></span></td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <td colspan="2" class="fw-bold">Total Balance</td>
    <td colspan="1" class="text-income"><span class="sensitive-data fw-bold"><%= number_to_currency(@total_income) %></span></td>
    <td colspan="1" class="text-outcome"><span class="sensitive-data fw-bold"><%= number_to_currency(@total_outcome) %></span></td>
  </tr>
</table>



<hr>
<h3>Year (<%= Time.current.year %>)</h3>

<table class="table table-sm theme-table">
  <tr>
    <th>Month</th>
    <th>Income</th>
    <th>Outcome</th>
  </tr>
  
  <% @monthly_data.each do |month_num, data| %>
    <%# Let's only display months up to the current month to keep the table clean %>
    <% if month_num <= Time.current.month %>
      <tr>
        <td><%= link_to data[:name], balance_path(year: Time.current.year, month: month_num)%></td>
        <td class="text-income">
          + <span class="sensitive-data"><%= number_to_currency(data[:income]) %></span>
        </td>
        <td class="text-outcome">
          - <span class="sensitive-data"><%= number_to_currency(data[:outcome]) %></span>
        </td>
      </tr>
    <% end %>
  <% end %>

  <tr>
    <td class="fw-bold">Balance</td>
    <td class="text-income">
      + <span class="sensitive-data fw-bold"><%= number_to_currency(@yearly_total_income) %></span>
    </td>
    <td class="text-outcome">
      - <span class="sensitive-data fw-bold"><%= number_to_currency(@yearly_total_outcome) %></span>
    </td>
  </tr>
</table>

<br>

  
  <div>
    <span>Current Month Balance:</span>
    <span class="text-income">
      <span class="sensitive-data"><%= number_to_currency(@current_balance) %></span>
    </span>
  </div>

  <div>
    <span>Year Balance:</span>
    <span class="text-income">
      <span class="sensitive-data"><%= @yearly_balance >= 0 ? '+' : '-' %> <%= number_to_currency(@yearly_balance.abs) %></span>
    </span>
  </div>

<script>
  function togglePrivacy() {
    const dataElements = document.querySelectorAll('.sensitive-data');
    const btn = document.getElementById('privacyBtn');
    
    // Toggle the 'show-data' class on every number
    dataElements.forEach(element => {
      element.classList.toggle('show-data');
    });
    
    // Change the button text
    if (btn.innerText === "Show Data") {
      btn.innerText = "Hide Data";
    } else {
      btn.innerText = "Show Data";
    }
  }
</script>
